*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
}

header, form{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    padding: 24px;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

form input{
    padding: 8px;
    font-size: 16px;
    margin-right: 8px;
}

input{
    text-align: center;
}

form button{
    padding: 8px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

li{
    text-align: center;
    cursor: pointer;
}



ul li{
    margin-top: 8px;
    color: black;
    font-size: 20px;
}

.concluido{
    text-decoration: line-through;
}
