.container{
    margin-top: 70px;
}

section h1{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 89, 255);
}

.conteudo-central{
    display: grid;
    margin-bottom: 24px;
}

.card-img-overlay-1{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-img-overlay-2{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-img-overlay-3{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.final{
    background-color: rgb(0, 89, 255);
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 667px){
    .container{
        display: block;
    }

    .col-sm-12{
        margin-bottom: 24px;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px){

    .col-md-6{
        margin-bottom: 24px;
    }
}